// Fonts
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import "variables";


html,
body,
pre,
code,
kbd,
samp {
  font-size: $base-font-size;
  font-family: 'Press Start 2P', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  color: $primary-theme-color;
  border-color: $primary-theme-color;
  background-color: $primary-theme-bg-color;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    animation: blink 1s infinite steps(1);
  }
}

.polar-bear {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 0.4rem;
    left: 0;

    height: 40px;
    width: 40px;

    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='Filled_outline' data-name='Filled outline' viewBox='0 0 64 64' width='512' height='512'%3E%3Cpath d='M58,45l-1.54415-4.63246A2,2,0,0,0,54.55848,39H9.44152a2,2,0,0,0-1.89737,1.36754L6,45v5H58Z' style='fill:%23e9e9e9'/%3E%3Cpath d='M62,46H60a5.65685,5.65685,0,0,0-8,0h0a5.65685,5.65685,0,0,1-8,0h0a5.65685,5.65685,0,0,0-8,0h0a5.65685,5.65685,0,0,1-8,0h0a5.65685,5.65685,0,0,0-8,0h0a5.65685,5.65685,0,0,1-8,0h0a5.65685,5.65685,0,0,0-8,0H2V62H62Z' style='fill:%2375c1ff'/%3E%3Crect x='17' y='23' width='5' height='16' style='fill:%23d6d6d6'/%3E%3Cpath d='M42,39V32.24621a2,2,0,0,1,.05971-.48507L43,28V26H35V39Z' style='fill:%23d6d6d6'/%3E%3Cpath d='M44,7H25V5a2,2,0,0,0-4,0V7H14.40314a3.99958,3.99958,0,0,0-2.49878.87653L4.51367,13.789a2.00009,2.00009,0,0,0-.35058,2.76178L6,19a3,3,0,0,0,3,3h4.95868a2,2,0,0,1,1.63849.85309l6.04132,8.63043A2,2,0,0,1,22,32.63043V39h8V26l11.33374.00055,4.33038,6.4956A2,2,0,0,1,46,33.60553V39h8V17A10,10,0,0,0,44,7Z' style='fill:%23efefef'/%3E%3Cpath d='M8.8,14.4,6.88928,11.88928l-.00043-.00043L4.51367,13.789a2.00009,2.00009,0,0,0-.35058,2.76178L6,19l2.4-1.8A2.00006,2.00006,0,0,0,8.8,14.4Z' style='fill:%23a3a3a3'/%3E%3Cpath d='M21,7V5a2,2,0,0,0-4,0V7Z' style='fill:%23e9e9e9'/%3E%3Crect x='13' y='12' width='2' height='2'/%3E%3Cpath d='M5.01562,19.354A4.00523,4.00523,0,0,0,9,23h4.9585a1.00186,1.00186,0,0,1,.81933.42627L16,25.17218V38H9.44141a2.99652,2.99652,0,0,0-2.8462,2.05176l-.21044.63232,1.89746.63184.21045-.63184A.99867.99867,0,0,1,9.44141,40H54.55859a.99867.99867,0,0,1,.94873.68408l.21143.63428,1.89746-.63281-.21142-.63428A2.99438,2.99438,0,0,0,55,38.035V17A11.01245,11.01245,0,0,0,44,6H26V5a2.98694,2.98694,0,0,0-5-2.21973A2.98694,2.98694,0,0,0,16,5V6H14.40332a5.0189,5.0189,0,0,0-3.12353,1.0957L3.88916,13.0083a2.98609,2.98609,0,0,0-.52588,4.14258ZM18,38V28.02917l2.81934,4.02747A.996.996,0,0,1,21,32.63037V38Zm13,0V27h3V38Zm5,0V27h4.798l1.03351,1.55035-.74218,2.96918A3.01116,3.01116,0,0,0,41,32.24609V38Zm7,0V32.24609a1.00849,1.00849,0,0,1,.02979-.24218l.30114-1.20441,1.5011,2.25177a.99435.99435,0,0,1,.168.5542V38ZM18,5a1,1,0,0,1,2,0V6H18ZM12.52881,8.65723A3.013,3.013,0,0,1,14.40332,8H22V5a1,1,0,0,1,2,0V8H44a9.01047,9.01047,0,0,1,9,9V38H47V33.60547a2.98882,2.98882,0,0,0-.50391-1.66406L38.832,20.44531,37.168,21.55469,39.46472,25H31V23H29V38H23V32.63037a2.98682,2.98682,0,0,0-.542-1.72021L16.416,22.2793A3.002,3.002,0,0,0,13.9585,21H9a1.99973,1.99973,0,0,1-1.94244-1.54327L9,18a2.99945,2.99945,0,0,0,.59961-4.2002L8.28754,12.05029ZM5.13818,14.56982l1.587-1.26965L8,15a1.00167,1.00167,0,0,1-.2002,1.40039L6.20013,17.6001,4.96338,15.95117A.996.996,0,0,1,5.13818,14.56982Z'/%3E%3Cpath d='M60.395,45a6.665,6.665,0,0,0-9.10205.293,4.66282,4.66282,0,0,1-6.58594,0,6.66386,6.66386,0,0,0-9.41406,0,4.66282,4.66282,0,0,1-6.58594,0,6.66386,6.66386,0,0,0-9.41406,0,4.66282,4.66282,0,0,1-6.58594,0A6.66506,6.66506,0,0,0,3.605,45H2v2H4.41406l.293-.293a4.66282,4.66282,0,0,1,6.58594,0,6.66386,6.66386,0,0,0,9.41406,0,4.66282,4.66282,0,0,1,6.58594,0,6.66386,6.66386,0,0,0,9.41406,0,4.66282,4.66282,0,0,1,6.58594,0,6.66385,6.66385,0,0,0,9.41406,0,4.66282,4.66282,0,0,1,6.58594,0l.293.293H62V45Z'/%3E%3Cpath d='M19.80859,56.833a2.84861,2.84861,0,0,1-3.10156-.8833,5.05355,5.05355,0,0,0-7.41406,0L10.707,57.36377a4.28753,4.28753,0,0,1,1.48438-.8833,2.84713,2.84713,0,0,1,3.10156.8833A5.01524,5.01524,0,0,0,18.895,59.001a5.65624,5.65624,0,0,0,3.812-1.63721L21.293,55.94971A4.28753,4.28753,0,0,1,19.80859,56.833Z'/%3E%3Cpath d='M35.80859,54.833a2.84652,2.84652,0,0,1-3.10156-.8833,5.05444,5.05444,0,0,0-7.41406,0L26.707,55.36377a4.28753,4.28753,0,0,1,1.48438-.8833,2.84923,2.84923,0,0,1,3.10156.8833A5.01524,5.01524,0,0,0,34.895,57.001a5.65624,5.65624,0,0,0,3.812-1.63721L37.293,53.94971A4.28753,4.28753,0,0,1,35.80859,54.833Z'/%3E%3Cpath d='M52.80859,56.833a2.849,2.849,0,0,1-3.10156-.8833,5.05369,5.05369,0,0,0-7.41406,0L43.707,57.36377a4.28753,4.28753,0,0,1,1.48438-.8833,2.84755,2.84755,0,0,1,3.10156.8833A5.01524,5.01524,0,0,0,51.895,59.001a5.65624,5.65624,0,0,0,3.812-1.63721L54.293,55.94971A4.28753,4.28753,0,0,1,52.80859,56.833Z'/%3E%3C/svg%3E");
  }
}

.normal {
  font-size: $base-font-size;
}

.mini {
  font-size: small;
}

.right {
  display: block;
  text-align: right;
}

.hidden {
  display: none;
}

.App {
  margin: 20px 5%;

  @media screen and (max-width: $break-large) {
    margin: 10px 1%;
  }
}


@import "tab";


//
// footer
//
.footer {
  margin: 50px 0 !important;
  text-align: center;

  p {
    margin: 0;
  }
}

.github-area {

  position: relative;
  display: inline-block;

  &:hover > .nes-balloon.is-rounded-dark {
    display: inline-block;
  }
}


.nes-balloon.is-rounded-dark {
  position: absolute;
  z-index: 2;
  transform: translate(10%, -100%);
  display: none;
  min-width: 400px;

  background: #212529;

  border-image-slice: 3;
  border-image-width: 3;
  border-image-repeat: space;
  border-image-outset: 0;
  border-style: solid;
  border-width: 4px;
  border-color: white;
  border-image-source: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='UTF-8' ?><svg version='1.1' width='8' height='8' xmlns='http://www.w3.org/2000/svg'><path d='M3 1 h1 v1 h-1 z M4 1 h1 v1 h-1 z M2 2 h1 v1 h-1 z M5 2 h1 v1 h-1 z M1 3 h1 v1 h-1 z M6 3 h1 v1 h-1 z M1 4 h1 v1 h-1 z M6 4 h1 v1 h-1 z M2 5 h1 v1 h-1 z M5 5 h1 v1 h-1 z M3 6 h1 v1 h-1 z M4 6 h1 v1 h-1 z' fill='rgb(255,255,255)' /></svg>");


  @media screen and (max-width: $break-large) {
    transform: translate(-40%, -100%);
  }
}

.nes-balloon.is-rounded-dark.from-left {

  &::before {
    height: 14px;
  }
}
