//
// tab
//
.tabs {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;

  @media screen and (max-width: $break-large) {
    margin-bottom: 30px;
  }
}

.nes-radio.is-dark {
  visibility: hidden;
}

.tab-label {
  order: 1;
  display: block;
  padding: 0 0 0 3.5rem;
  margin-bottom: 0;
  // cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;

  &:hover {

    span {
      animation: blink 1s infinite steps(1);
    }
  }

  @media screen and (max-width: $break-large) {
    order: initial;

    padding: 0 0 0 0.5rem;
    margin-bottom: 0.4rem;
    width: 100%;

    &:hover {

      span {
        animation: none;
      }
    }
  }
}

.tabs__tab-content {
  height: 100%;
  width: 100%;

  order: 99;
  flex-grow: 1;

  padding: 1rem;

  @media screen and (max-width: $break-large) {
    order: initial;
  }
}

.tabs__tab-content__desc {
  height: 2.5rem;
  margin-top: 0.3rem;
  font-size: 1.1rem;

  @media screen and (max-width: $break-large) {
    height: 4rem
  }
}

.tabs__tab-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tabs__tab-column-row {
  flex-grow: 1;
  margin: 2px;
  padding: 10px;
  width: 260px;
  height: 150px;
  overflow: hidden;

  h2 {
    display: flex;
    align-items: center;

    span {
      margin: 0 5px;
    }
  }

  &:nth-child(2) {
    border-left: 1px #eee solid;
    border-right: 1px #eee solid;
  }

  @media screen and (max-width: $break-large) {
    width: 100%;
    padding: 0;

    &:nth-child(2) {
      border-left: 0;
      border-right: 0;
      border-top: 1px #eee solid;
      border-bottom: 1px #eee solid;
    }
  }
}

.tabs__tab-column-row-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 3%;

  @media screen and (max-width: $break-large) {
    padding: 0;
  }
}

.two-col {
}

.two-col-photo {
  text-align: right;
  max-width: 90px;

  img {
    width:100%;
  }
}

.en-county-name {
  display: none;

  @media screen and (max-width: $break-large) {
    display: inline;
  }
}

.tab-desc-target-url {
  margin-left: 0.7rem;
}
